* {
	margin: 0px;
	padding: 0px;
}
body {
	background-image: url(../img/wp.jpg);
}
header {
	height: 70px;
	width: 100%;
	margin-top: 20px;
}
#wrapper-header {
	position: relative;
	height: 100%;
	left: 50%;
	margin-left: -500px;
	width: 1000px;
	border-bottom: 1px solid rgb(58, 58, 58);
}
#logo {
	color: white;
	font-size: 40px;
	position: absolute;
	top: 10px;
	margin-left: 5px;
	font-family: 'Curlz MT';
}
#sections-button {
	padding: 10px;
	height: 25px;
	width: 25px;
	position: absolute;
	right: 0px;
	top: 20px;
}
#search-button {
	padding: 10px;
	height: 25px;
	width: 25px;
	position: absolute;
	right: 50px;
	top: 20px;
}
header img {
	height: 100%;
	width: 100%;
}
#search-button:hover, #sections-button:hover {
	background-color: #242424;
	border-radius: 5px;
}

/* Tablet */
@media (max-width: 999px) {

	#wrapper-header {
		width: 100%;
		margin-left: 0px;
		left: 0px;
	}

	#sections-button {
		margin-right: 10px;
	}

	#search-button {
		margin-right: 10px;
	}

}

/* Mobile */
@media (max-width: 600px) {

	#wrapper-header {
		height: 50px;
	}

	#logo {
		font-size: 18px;
		left: 50%;
		margin-left: -105px;
	}

	#search-button {
		left: 0px;
		top: 50%;
		margin-top: -25px;
		margin-left: 5px;
	}

	#sections-button {
		top: 50%;
		margin-top: -25px;
		margin-right: 5px;
	}

}



/* SECTION */
#section-name {
	display: none;
	color: white;
	font-weight: bold;
	width: 1000px;
	border-bottom: 1px solid rgb(58, 58, 58);
	position: relative;
	text-align: center;
	left: 50%;
	margin-left: -500px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 20px;
}

/* Tablet */
@media (max-width: 999px) {

	#section-name {
		width: 100%;
		margin-left: 0px;
		left: 0px;
	}

}

/* Mobile */
@media (max-width: 600px) {

	#section-name {
		padding-top: 0px;
		margin-top: -15px;
	}

}


/* CONTENT */
#content {
	margin-top: 30px;
	width: 100%;
	height: auto;
}

#content a {
	color: white;
	text-decoration: none;
}

#content a:hover {
	text-decoration: underline;
}

#wrapper-content {
	width: 1000px;
	position: relative;
	left: 50%;
	margin-left: -500px;
	color: white;
}

.main-note {
	width: 100%;
	border-bottom: 1px solid rgb(58, 58, 58);
	display: inline-block;
	padding-bottom: 20px;
}

.main-note h2 {
	text-align: center;
}

.byline {
	color: rgb(128, 128, 143);
	font-size: 10px;
	font-style: italic;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 3px;
}

.credit {
	color: rgb(153, 153, 153);
	font-size: 10px;
	width: 100%;
	text-align: center;
	padding-bottom: 10px;
}

.main-note-wrapper-image {
	text-align: center;
	padding: 3px;
}

.main-note .abstract {
	text-align: center;
}

.list-of-notes {
	width: 499px;
	height: auto;
	display: inline-block;
	vertical-align: top;
}

.list-note {
	width: 100%;
	height: auto;
	min-height: 100px;
	border-bottom: 1px solid rgb(58, 58, 58);
}

.list-note img {
	padding: 10px;
	float: right;
}

.list-note .abstract {
	padding: 3px;
	width: 400px;
	padding-bottom: 20px;
}

.headline {
	padding: 3px;
	width: 400px;
}

#left-list {
	display: none;
	border-right: 1px solid rgb(58, 58, 58);
}

#right-list {
	display: none;
	margin-left: -5px;
	border-left: 1px solid rgb(58, 58, 58);
}

/* Tablet */
@media (max-width: 999px) {

	#content {
		margin-top: 0px;
	}

	#right-list {
		margin-left: 0px;
	}

	.right-main-note {
		margin-left: 0px;
	}

	#left-list, #right-list {
		border: none;
	}

	#wrapper-content {
		width: 100%;
		left: 0px;
		margin-left: 0px;
		text-align: center;
	}

	.main-note {
		width: 100%;
	}

	.list-of-notes {
		width: 100%;
	}

	.list-note {
		text-align: left;
	}

	.list-note .abstract {
		width: 90%;
	}

	.headline {
		width: 90%;
	}

}

/* Mobile */
@media (max-width: 600px) {

	.main-note img {
		width: 100%;
	}

}














/* SCROLL BAR */
html::-webkit-scrollbar {
    width: 6px;
}

html::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #3a3a3a;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

html::-webkit-scrollbar-thumb:window-inactive {
	background: #3a3a3a;
}

html::-webkit-scrollbar-track-piece {
	background: black;
}



/* FOOTER */
footer {
	margin-top: 50px;
	width: 100%;
	height: auto;
}

footer span {
	color: white;
	margin-left: 10px;
}

footer img {
	height: 100%;
	width: 100%;
}

#wrapper-footer {
	position: relative;
	height: 100%;
	left: 50%;
	margin-left: -500px;
	width: 1000px;
	border-top: 1px solid rgb(58, 58, 58);
	padding-top: 20px;
	padding-bottom: 30px;
}

#github-button {
	height: 40px;
	width: 40px;
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 5px;
	margin-top: 5px;
}

#github-button:hover {
	background-color: #242424;
	border-radius: 5px;
}

/* Tablet */
@media (max-width: 999px) {

	#wrapper-footer {
		width: 100%;
		margin-left: 0px;
		left: 0px;
	}

	#github-button {
		margin-right: 10px;
	}

}

/* Mobile */
@media (max-width: 600px) {

	#wrapper-footer {
		text-align: center;
		padding-bottom: 10px;
	}

	#github-button {
		position: relative;
		left: 50%;
		margin-left: -20px;
	}

}






/* SECTION MENU */
#sections-menu {
	display: none;
	position: absolute;
	height: auto;
	width: 500px;
	border: 2px solid white;
	z-index: 2;
	left: 50%;
	margin-left: -7px;
	background-color: black;
	border-radius: 5px;
}

#sections-menu li {
	text-align: center;
	padding: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
	cursor: default;
	font-size: 18px;
}

#sections-menu li:hover {
	background-color: white;
	color: black;
}

#sections-menu-trianle {
	width: 0;
	height: 0;
	position: absolute;
	left: 474px;
	top: -10px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid white;
}

#sections-menu-items {
	list-style: none;
    -webkit-column-count: 3; 	/* Chrome, Safari, Opera */
    -moz-column-count: 3; 		/* Firefox */
    column-count: 3;
}

/* Tablet */
@media (max-width: 999px) {

	#sections-menu {
		width: 100%;
		left: 0px;
		margin-left: 0px;
		position: relative;
		background-color: transparent;
		border: none;
		border-radius: 0px;
		border-bottom: 1px solid rgb(58, 58, 58);
	}

	#sections-menu li:hover {
		background-color: #242424;
		color: white;
	}

	#sections-menu-trianle {
		display: none;
	}

}

/* Mobile */
@media (max-width: 600px) {

	#sections-menu {
		margin-top: -20px;
		margin-bottom: 18px;
	}

}

/* Extra-small */
@media (max-width: 400px) {
	
	#sections-menu-items {
	    -webkit-column-count: 1; 	/* Chrome, Safari, Opera */
	    -moz-column-count: 1; 		/* Firefox */
	    column-count: 1;
	}

}